.ipynb_checkpoints/*
**/*.ipynb_checkpoints/*
*.ipynb
notes/*
*.pyc
.DS_Store
.vscode/*
data/*
saved_model/*
slurm/temp/*
pretrained_models/*
slurm/logs/*
config/**/generated/*
config/**/generated2/*
config/**/generated3/*
config/**/generated22/*
config/**/generated4/*

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
research-DVAE/**/*
pyenv-research-DVAE/**/*
logs
config/temp/*
*.sif
run_scripts/temp/*